#hero {
    min-height: 88vh;
    margin-top: 5rem;
}
.hero-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*-----------------------left-----------------------*/
.hero-left-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 12rem;
}
.hero-left-item {
    line-height: 7.5rem;
}
.fa-rocket, .fa-plus {
    float: left;
    margin-right: 1rem;
    margin-top: 0.1rem;
}
.hero-btn {
    margin-right: 1rem;
}
.hero-left-item .hero-title span {
  background: linear-gradient(117deg, rgba(206,86,208,1) 0%, rgba(73,40,146,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*-----------------------right-----------------------*/
.hero-img-1 {
  position: relative;
}
.hero-img-2 {
  position: absolute;
  left: 70%;
  top: 18%;
  animation: hero 10s ease-in-out 0s infinite normal forwards;
}
  @keyframes hero {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: translate(-10px, 10px);
    }
  
    40% {
      transform: translate(-20px, -20px);
    }
  
    60% {
      transform: translate(20px, 20px);
    }
  
    80% {
      transform: translate(20px, -20px);
    }
  
    100% {
      transform: translate(0);
    }
  }
