#sign-in {
    min-height: 88vh;
}
.signin-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.signin-left-item img {
    margin-top: 7rem;
    width: 60rem;
    height: 60rem;
}
.signin-right-item {
    margin-top: 7rem;
    background-color: var(--card--color);
    border-radius: 0.5rem;
    padding: 10rem;
}
.signin-right-item h2 {
    color: var(--white--color);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2.5rem;
}
.signin-box input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--light--color);
    width: 100%;
    padding: 1.5rem;
    margin: 0.5rem 0 1rem 0;
    display: inline-block;
    color: var(--light--color);
    background-color: var(--card--color);

}
.signin-box input:focus {
    border-color: var(--btn--color);
}
.signinbtn {
    width: 100%;
    border: none;
    font-family: inherit;
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    outline: 0;
    transition: all 0.3s ease;
    color: var(--white--color);
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    border-radius: 0.5rem;
    background: linear-gradient(117deg, rgba(206,86,208,1) 0%, rgba(73,40,146,1) 100%);
    margin: 2.5rem 0 1.5rem 0;
}
.signinbtn:hover {
    background: linear-gradient(117deg, rgba(194,55,196,1) 0%, rgba(54,26,116,1) 100%);
}
.signin-social-links {
    padding-top: 3rem;
    text-align: center;
}
.signin-social-links i {
    color: var(--white--color);
}
.signin-social-links a {
    margin: 0 1rem 1rem 0;
    padding: 0.8rem;
    align-items: center;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}
.signin-social-links .facebook {
    background-color: #3b5998;
    padding: 0.8rem 1.1rem;
}

.signin-social-links .twitter {
    background-color: #00acee;
}
.signin-social-links .mail {
    background-color: red;
}
.signin-social-links .github {
    background-color: #171515;
}
.create-account {
    color: #3498db;
}
.create-account:hover {
    color: #2980b9;
}
.social:hover{
    border-radius: 50%;
}
.signin-p {
    font-size: 1.3rem;
    padding-bottom: 2rem;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-size: 1.3rem;
    color: var(--white--color);
}

.row::before, .row::after {
    content: '';
    background-color: var(--light--color);
    width: 35%;
    height: 0.1rem;
}
