#todays-Picks {
    padding: 5rem 0rem;
}
.picks-bid-btn {
    border: none;
    margin-left: 25px;
    margin-top: 18px;
    color: var(--white--color);
}
.fa-arrows-rotate {
    float: left;
    margin-right: 1rem;
    margin-top: 0.1rem;
}
.picks1, .picks2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
}
.picks1 {
    margin-bottom: 5rem;
    padding-top: 5rem;
}
.picks-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4rem;
}
.picks-buttons-1 {
    margin-left: 3rem;
}
.picks-buttons-2 {
    margin-right: 3rem;
}
.pick-btn {
    border-color: var(--light--color);
}
.pick-btn:hover {
    border-color: var(--hover--color);
    background-color: var(--hover--color);
}
.pick-btn i{
    float: left;
    margin-right: 1rem;
    margin-top: 0.1rem;
}
.load-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
}
.picks-bid-btn i {
    transition: transform .7s ease-in-out;
}
.picks-bid-btn:hover i {
    transform: rotate(180deg);
}
.auction-item-box .top-like-btn {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

