.seller-wrapper {
    padding: 5rem 0rem;
}
.seller-wrapper h3 {
    color: var(--white--color);
    font-weight: 700;
    font-size: 3rem;
    margin-left: 4rem;
}
.top-seller{
    min-height: 90vh;
}
.seller1, .seller2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}
.seller1 {
    margin-bottom: 3rem;
    padding-top: 5rem;
}
.seller-name {
    color: var(--white--color);
    font-size: 1.7rem;
    font-weight: 700;
}
.seller-num {
    color: var(--light--color);
    font-size: 1.3rem;
    font-weight: 600;
}
.seller-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.seller-id-box {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
}
.seller-id-box img {
    border-radius: 4rem;
}
.seller-content {
    margin-top: 3rem;
    margin-left: 1.5rem;
    line-height: 2.5rem;
}
.seller-id {
    border-radius: 3rem;
    padding: 0.5rem;
    transition: all .3s ease-in-out;
}
.seller-id:hover{
    transform: scale(1.1);
}
.fa-circle-check {
    position: absolute;
    background-color: var(--white--color);
    border-radius: 50%;
    color: var(--btn--color);
    top: 88%;
    left: 45%;
    transform: translate(-50%, -50%); 
 
}
