.row {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    padding: 5rem 0;
    background-color: var(--black--color);
    display: block;
    box-sizing: border-box;
    
}
.footer-logo {
    margin-top: -20px;
    margin-bottom: 23px;
}
.footer-col {
    width: 20%;
    padding: 0 1.5rem;
}
.footer-col p {
    line-height: 2.5rem;
}
.footer-col h4 {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
    position: relative;
    color: var(--white--color);
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 0.2rem;
    box-sizing: border-box;
    width: 5rem;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 1rem;
}
.footer-col ul li a {
    color: var(--light--color);
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: var(--btn--color);
    padding-left: 1rem;
}
.footer-col .social-links a {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    margin: 0 1rem 1rem 0;
    text-align: center;
    line-height: 4rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    background-color: var(--card--color);
}
.footer-col .social-links i {
    color: var(--white--color);
    margin-top: 1.3rem;  
}
.footer-col .social-links a:hover {
    border-radius: 50%;
}
.social-links {
    margin-top: 2rem;
}
.box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.email-box {
    width: 25rem;
    height: 4rem;
    background-color: var(--black--color);
    border: solid 0.2rem var(--dark--color2);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.email-box input {
    position: relative;
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    color: var(--light--color);
    background-color: var(--black--color);
}
.email-btn {
    position: absolute;
    border: none;
    padding: 1.3rem;
    border-radius: 0.5rem;
    background: var(--btn--color);
    color: var(--white--color);
    margin-left: 4.7rem;
    margin-top: -0.7rem;
}
/* .scroll-top {
    margin-top: 5rem;
    margin-left: 21.5rem;
    border-radius: 5rem;
    border: none;
    color: var(--black--color);
    background-color: var(--white--color);
}
.scroll-top:hover {
    transform: translateY(-0.5rem);
} */
