@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root {
    --dark--color: #14141F;
    --dark--color2: #242431;
    --light--color: #ADADB0;
    --white--color: #fff;
    --black--color: #000;
    --btn--color: #4E3FEE;
    --purple--color: #9550E5;
    --card--color: #343444;
    --hover--color: #34495e;
    --hover--color2: #272b2c;


    --boder--radious--xs: 0.5rem;
    --boder--radious--s: 1rem;
    --boder--radious--m: 1.5rem;
    --boder--radious--l: 2rem;
    --boder--radious--xl: 2.5rem;
    --boder--radious--2xl: 3rem;
    --boder--radious--3xl: 3.5rem;
}
.light-theme {
    --dark--color: #fff;
    --white--color: #000;
}
html {
    font-size: 62.5%;
    font-family: 'Urbanist', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--dark--color);
}
html p {
    color: #fff;
}
body {
    font-size: 1.5rem;
}
button {
    cursor: pointer;
    font-family: inherit;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn {
    font-family: inherit;
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    outline: 0;
    transition: all 0.3s ease;
    border: solid 0.2rem var(--btn--color);
    box-shadow: none;
    -webkit-transition: all 0.3s ease;

}
.btn-primary {
    background-color: var(--dark--color);
    color: var(--white--color);
}
.btn-primary:hover {
     background-color: var(--btn--color);
     color: white;
} h1 {
    color: var(--white--color);
    font-size: 7rem;
    font-weight: 700;
}
h3 {
    color: var(--white--color);
    font-weight: 700;
    font-size: 3rem;
    margin-left: 4rem;
}
 