.navbar-wallet {
    display: flex;
}
.notification {
    background-color: var(--gray--color);
    cursor: pointer;
    margin-right: 1.3rem;
    border-radius: 1rem;
    width: 40px;
    height: 40px;
}
.notification .badge {
    position: absolute;
    top: 10%;
    right: 19%;
    padding: 0.1rem 0.5rem;
    border-radius: 100%;
    background-color: red;
    color: var(--white--color);
    font-size: 1.2rem;
}
.fa-bell {
    color: var(--white--color);
    padding: 1.8rem 0 0 1rem;
}
.header-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 1rem;
}
.profile-photo-box {
    background-color: var(--card--color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    line-height: 4rem;
    align-items: center;
}
.profile-photo-box img {
    border-radius: 2rem;
    width: 290px;
    height: 290px;
}
.upload-new-photo, .delete-photo {
    border-color: var(--white--color);
    background-color: transparent;
    color: var(--white--color);
    margin-top: 1rem;
    padding: 1rem 8rem;
}
.delete-photo {
    padding: 1rem 11.5rem;
}
.total-wrapper {
    display: flex;
    padding: 10rem 0;
    justify-content: space-evenly;
}
.first-row {
    display: flex;
    justify-content: space-between;
}
.first-row-title {
    color: var(--white--color);
    font-size: 1.8rem;
    padding: 6rem 0 1rem 0;
}
.first-row-title-1 {
    color: var(--white--color);
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
.covers {
    width: 30rem;
    height: 10rem;
    border-radius: 1rem;
}
.first-cover {
    margin-right: 1rem;
}
.covers:hover {
    border: 0.3rem solid var(--btn--color);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.right-upload {
    background-color: transparent;
    color: var(--white--color);
    border-color: var(--white--color);
    padding: 1.5rem 4rem;
}
.right-upload:hover {
    color: var(--light--color);
} 
.upload-box {
    border: 0.1rem solid var(--gray--color);
    border-radius: 1rem;
    width: 30rem;
    height: 10rem;
    text-align: center;
    padding-top: 2.5rem;
    margin-right: 1rem;
}
.total-inputs {
    display: flex;
}
.account-info {
    padding-right: 7rem;
}
.input-container, .social-container {
    display: flex;
    flex-direction: column;
}
.input-title {
    color: var(--white--color);
    padding: 2rem 0 1rem 0;
    font-size: 1.4rem;
}
.input-box {
    font-family: inherit;
    background: none;
    color: var(--light--color);
    padding: 1.5rem 6rem 1.5rem 2rem;
    border: 0.1rem solid var(--gray--color);
    border-radius: 1rem;
}
.social-input {
    padding: 1.5rem 20rem 1.5rem 2rem; 
}
.connect-social {
    color: var(--white--color);
    background-color: var(--btn--color);
}
.connect-social:hover {
    border-color: var(--hover--color3);
    background-color: var(--hover--color3);
}
.btn-icons {
    margin-right: 1rem;
}
.social-btns {
    padding-top: 1rem;
}

.hover-button:hover {
    color: var(--black--color);
    background-color: var(--white--color);
}